@using Web_Assignment1.Models
@model PersonModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<form asp-action="Details" method="post">
    <label asp-for="CityId">Enter City Id:</label>
    <input asp-for="CityId" />



    @*<div class="container">
        <div class="row">
            <div class="col-md-3"> Name</div>
            <div class="col-md-3">Phone</div>
            <div class="col-md-3">CityId</div>
            <div class="col-md-3">City Name</div>

        </div>
        <div class="row">
            <div class="col-md-3">
                @Model.Name
            </div>
            <div class="col-md-3">
                @Model.Phone
            </div>
            <div class="col-md-3">
                @Model.CityId
            </div>
            <div class="col-md-3">
                @Model.City.Name
            </div>
        </div>
    </div>*@

</form>

