@using Web_Assignment1.Models
@model IEnumerable<PersonModel>
@{
    ViewData["Title"] = "PeopleView";
}

<h1>PeopleView</h1>
<div class="accordion-button"><a asp-action="CreatePerson">Create New Person</a></div>
<div class="accordion-button"><a asp-action="Details">Find Person</a>
</div>
<div><a asp-controller="City" asp-action="Index">City</a></div>
<div><a asp-controller="Country" asp-action="Country">Country</a></div>
<br />
<div class="accordion-item">
    <table border="1" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>City</th>
               

            </tr>
        </thead>
        <tbody>
            @foreach (var people in Model)
            {
                <tr>
                    <td>@people.PersonId</td>
                    <td>@people.Name</td>
                    <td>@people.Phone</td>
                    <td>@people.CityId</td>
                    
                   
                    

                    
                </tr>
            }
        </tbody>

    </table>
</div>
<br />
<div class="accordion-button"><a asp-action="PeopleIndex">Back</a></div>
<br />