<html>
<head>
    @{
        ViewData["Title"] = "Index";
    }
</head>


<body>
    <h1>React App</h1>
    <div id="content">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
        <script type="text/jsx" src="@Url.Content("~/js/People.jsx")"></script>
    </div>
</body>
</html>