
@{
    ViewData["Title"] = "About";
}

<h1>Monika Vyas CV</h1>
<br />
<h3>Education</h3>
<pre>
    School
    June/2010 – April/2013			    Computer Application, CMCT BCA COLLEGE
    Sardar Patel University

    Individual courses
    September/2019 – September/2021 	            Network Design and Computer Management/Halmstad University

</pre>
<h3>Work Experience</h3>
<br />
<pre>
Energetic computer language tutor as well as administrator with more than 3 years of experience teaching programming languages for ICTC Institute in India. 
My work experience includes Innovation in many areas, including strategies for more effective teamwork.
</pre>


