
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<p><a href="https://github.com/MonikaVyas1989/Hangman_uppgift">Hangman</a>
    It is a Hangman game to guess name by character and whole name </p>

<p><a href="https://github.com/MonikaVyas1989/Calculator">Calculator</a>
    Simple Basic C# program for Calculations of basic Math Operations</p>

<p><a href="https://github.com/MonikaVyas1989/Calculator_1">Calculator_1</a>
    Calculator Program with its test Project</p>
<p><a href="https://github.com/MonikaVyas1989/Todo_app">Todo_app</a>
    It is Project for xunit testing</p>
<p><a href="https://github.com/MonikaVyas1989/HTML">HTML And Css</a>
    HTML And  CSS learnig project</p>
<p><a href="https://github.com/MonikaVyas1989/Sokoban">Sokoban</a>
    It is one level Sokoban game using JavaScript</p>

