<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - MyWeb_Assignment</title>
   <link rel="stylesheet" href="~/css/site.css" />
   

</head>
<body>
    <div class="div-Container">
        <header>
            <nav class="navbar">
                <div class="Container">
                    <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <div class="navbar-link">
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Projects">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Doctor" asp-action="index">FeverCheck</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Game" asp-action="NumberGuessingGame">NumberGuessingGame</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>
        <div class="Container">
            <main role="main">

                @RenderBody()

            </main>
        </div>
        <footer>
            <div class="Container"> 
                @DateTime.Now.ToShortDateString() *MonikaVyas*
            </div>
        </footer>
    </div>
</body>
</html>
